config quarkdrive_webdav 'config'
	option enabled '0'
	option host '0.0.0.0'
	option port '8080'
	option quark_cookie ''
	option auth_user ''
	option auth_password ''
	option root '/'
	option auto_index '0'
	option read_buffer_size '10485760'
	option upload_buffer_size '16777216'
	option cache_size '1000'
	option cache_ttl '600'
	option refresh_cache_secs_interval '300'
	option upload_wait_timeout '280'
	option no_trash '0'
	option read_only '0'
	option tls_cert ''
	option tls_key ''
	option strip_prefix ''
	option debug '0'
	option no_self_upgrade '1'
	option skip_upload_same_size '0'
	option prefer_http_download '0'
	option redirect '0'
